
<div class="container">

	<div class="page-header">
		<h1>Smart BANK</h1>
	</div>
		<ul class="nav nav-pills" role="tablist" ng-if="isLogedIn()">
		
			<li ng-class="{ active: isActive('/userList')}">
				<a href="#/userList"> User list </a>
			</li>
			<li ng-class="{ active: isActive('/accountList')}">
				<a href="#/accountList"> Account list </a>
			</li>
			<li ng-class="{ active: isActive('/transactionCompose')}">
				<a href="#/transactionCompose"> New payment </a>
			</li>
			<li ng-class="{ active: isActive('/transactionList') || isActive('/transactionView') }">
				<a href="#/transactionList"> Transactinon list </a>
			</li>
			<li>
				<a href="#/login" ng-click="logOut()">
					Log out <b>( {{bankUser.name}})</b>
				</a>
			</li>
		</ul>
</div>