<div class="page-header">
	<h2>Login</h2>
</div>

<div class="row">

	<div class="col-md-6">
		<form class="form-horizontal">
			<div class="form-group">
				<label for="username" class="col-sm-3 control-label">User Name:</label>
				<div class="col-sm-9">
					<input id="username" ng-model="username" type="text" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<label for="password" class="col-sm-3 control-label">Password:</label>
				<div class="col-sm-9">
					<input id="password" ng-model="password" type="password" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-9 col-sm-offset-3">
					<input type="submit" value="Log In" class="btn btn-primary" ng-click="login(username,password)"/>
				</div>
			</div>
		</form>
	</div>

</div>