<div class="row col-md-6">
	<h2>Payment view</h2>
	<form name="paymentForm">
		<table class="table">
			<tr>
				<td><strong>Recipient name</strong></td>
				<td>
					{{transaction.recipient}}
				</td>
			</tr>
			<tr>
				<td><strong>Recipient account</strong></td>
				<td>
					{{transaction.accountTo}}
				</td>
			</tr>
			<tr>
				<td><strong>Pay from account</strong></td>
				<td>
	                {{transaction.accountFrom.account}}
				</td>
			</tr>
			<tr>
				<td><strong>Amount</strong></td>
				<td>
					{{transaction.amount}}
				</td>
			</tr>
			<tr>
				<td><strong>Balance</strong></td>
				<td>
					{{transaction.balance}}
				</td>
			</tr>
			<tr>
				<td><strong>Date</strong></td>
				<td>
					{{transaction.dateAdded | date: "dd/MM/yyyy HH:mm" }}
				</td>
			</tr>
			
			<tr>
				<td><strong>Description</strong></td>
				<td>
					<textarea id="description" ng-model="transaction.description" rows="5" cols="70" ng-disabled="true">
					</textarea>
				</td>
			</tr>
		</table>
	</form>
</div>