<div class="row col-md-6">
	<h2>New payment</h2>
	<form name="paymentForm">
		<table class="table">
			<tr>
				<td><strong>Recipient name</strong></td>
				<td>
					<input type="text" ng-model="transaction.recipient" ng-required="true" placeholder="Recipient name" ng-maxlength=50/>
				</td>
			</tr>
			<tr>
				<td><strong>Recipient account</strong></td>
				<td>
					<input type="text" ng-model="transaction.accountTo" ng-required="true" placeholder="Recipient account" ng-maxlength=10/>
				</td>
			</tr>
			<tr>
				<td><strong>Pay from account</strong></td>
				<td>
	            	<select id="accountFrom" name="accountFrom" ng-model="transaction.accountFrom" ng-options="item as item.account for item in accountList" ng-required="true" class="form-control">
						<option value="">-- choose your account --</option>
	                </select>
				</td>
			</tr>
			<tr>
				<td><strong>Amount</strong></td>
				<td>
					<input type="text" ng-model="transaction.amount" ng-required="true" placeholder="0.00" min="0.01" money/>
					&nbsp;
					<span ng-show="transaction.accountFrom.balance < transaction.amount" style="color: red;">
						Not enough money
					</span>
					&nbsp;
					Free money : {{transaction.accountFrom.balance}}
				</td>
			</tr>
			<tr>
				<td><strong>Description</strong></td>
				<td>
					<textarea id="description" ng-model="transaction.description" rows="5" cols="70"  placeholder="Payment description" ng-required="true" ng-maxlength=50>
					</textarea>
				</td>
			</tr>
			<tr>
				<td colspan=2>
					<button class="btn btn-primary" type="submit" ng-click="submitTransaction(transaction)" ng-disabled="paymentForm.$invalid || transaction.accountFrom.balance < transaction.amount">Submit</button>
					<span ng-show="paymentForm.$invalid">
						&nbsp;
						--
						&nbsp;
						Please insert all fields.
					</span>
				</td>
			</tr>
		</table>
	</form>
</div>