<div class="page-header">
	<h3>Transaction List :</h3>
</div>

<form name="searchForm">

	<strong>Account</strong>
	<select id="account" name="account" ng-model="transactionFilter.account" 
		ng-options="item.account as item.account for item in accountList" ng-required="true" >
		<option value="">-- choose your account --</option>
	</select>
	<br/>
	<br/>
	<strong>Date Range:</strong>
	<input type="daterange" ng-model="filterDates" format="MM/DD/YYYY" ng-required="true"/>
	<br/>
	<br/>
	<strong>Description</strong>
	<input type="text" ng-model="transactionFilter.comment" mname="comment" id="comment" ng-minlength="1"/>
	<br/>
	<br/>
	<button class="btn btn-primary" type="submit" ng-click="searchTransactions()"
		ng-disabled="searchForm.$invalid">
		Search
	</button>

</form>

<br/>
<br/>
<div ng-grid="transactionOptions" ng-style="getInspectionTableStyle()"></div>
	

	
