<div class="page-header">
	<h3>User list :</h3>
</div>

<div class="list-group">
	<div ng-repeat="bankUser in bankUserList">
<!-- 		<div class="list-group-item">{{bankUser.name}}</div> -->
		<a href="#/accountList" ng-click="setBankUser(bankUser)" class="list-group-item">{{bankUser.name}}</a>
	</div>
</div>